@import "./base/default.scss";
@import "./base/header.scss";
@import "./base/footer.scss";

@import "./pages/index.scss";

@import "./blocks/main-hero.scss";
@import "./blocks/about-us.scss";
@import "./blocks/services.scss";
@import "./blocks/gallery.scss";

@import "./modal/modal.scss";
