.about-us {
  padding: 80px 0;
  background-color: $default;
  color: $text;
  text-align: center;

  &__container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__title {
    font-size: 42px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__description {
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 40px;
    text-align: start;
    white-space: pre-line;
  }
}
