.gallery {
  padding: 80px 0;
  background-color: $default;
  overflow: hidden;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 2.5rem;
    color: $text;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 4px;
      background-color: $secondary;
      margin: 10px auto 0;
      border-radius: 2px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    grid-auto-rows: 250px;
  }

  &__item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;

    position: relative;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);

      &::before {
        opacity: 0.1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
      opacity: 1;
      transition: opacity 0.3s;
      z-index: 1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease-in-out;

    .gallery__item:hover & {
      transform: scale(1.05);
    }
  }

  @media (max-width: 600px) {
    &__grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-rows: 150px;
      gap: 15px;
    }
  }
}
