.hero-block {
  position: relative;
  width: 100%;
  height: calc(100dvh - 80px);
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: $text;
  }

  &__title {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    color: lighten($text, 10%); // Трохи світліший, ніж основний текст
  }
}
